<a href="https://colab.research.google.com/github/Akshay15042002/practice/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print(df>0)
print(df.loc[['a','b','c']]>0)
booldf=df>0
df[booldf]

       v     w      x      y      z
a   True  True   True   True   True
b  False  True  False  False   True
c   True  True   True   True   True
d   True  True  False   True  False
e  False  True   True  False   True
       v     w      x      y     z
a   True  True   True   True  True
b  False  True  False  False  True
c   True  True   True   True  True

          v         w         x         y         z
a  1.764052  0.400157  0.978738  2.240893  1.867558
b       NaN  0.950088       NaN       NaN  0.410599
c  0.144044  1.454274  0.761038  0.121675  0.443863
d  0.333674  1.494079       NaN  0.313068       NaN
e       NaN  0.653619  0.864436       NaN  2.269755

In [2]:
#Using Loc and iloc
import pandas as pd
import numpy as np
from numpy.random import randn as rn
np.random.seed(0)
matrix_data=rn(5,5)
row_label=['a','b','c','d','e']
col_label=['f','g','h','i','j']
df=pd.DataFrame(matrix_data,row_label,col_label)
print(df)
print(df[['f','g']])
print(type(df[['f','g']]))
df.drop('j',axis=1,inplace=True)
print(df)

print(df.loc['a'])#for single row usind index names
print(df.iloc[0])#for single row using index values
print(df.iloc[[0,1]])#double rows


np.random.seed(0)
matrix_data=rn(5,5)
row_label=['a','b','c','d','e']
col_label=['v','w','x','y','z']
df=pd.DataFrame(matrix_data,row_label,col_label)
print(df)
print(df.loc['a','v'])   #row value with column position(0,0)
print(df.loc[['a','b'],['v','w']])    #[rows],[column]comprising

          f         g         h         i         j
a  1.764052  0.400157  0.978738  2.240893  1.867558
b -0.977278  0.950088 -0.151357 -0.103219  0.410599
c  0.144044  1.454274  0.761038  0.121675  0.443863
d  0.333674  1.494079 -0.205158  0.313068 -0.854096
e -2.552990  0.653619  0.864436 -0.742165  2.269755
          f         g
a  1.764052  0.400157
b -0.977278  0.950088
c  0.144044  1.454274
d  0.333674  1.494079
e -2.552990  0.653619
<class 'pandas.core.frame.DataFrame'>
          f         g         h         i
a  1.764052  0.400157  0.978738  2.240893
b -0.977278  0.950088 -0.151357 -0.103219
c  0.144044  1.454274  0.761038  0.121675
d  0.333674  1.494079 -0.205158  0.313068
e -2.552990  0.653619  0.864436 -0.742165
f    1.764052
g    0.400157
h    0.978738
i    2.240893
Name: a, dtype: float64
f    1.764052
g    0.400157
h    0.978738
i    2.240893
Name: a, dtype: float64
          f         g         h         i
a  1.764052  0.400157  0.978738  2.240893
b -0.977278  0.950088 -0.151357 -0.103219
          v         w         x         y         z
a  1.764052  0.400157  0.978738  2.240893  1.867558
b -0.977278  0.950088 -0.151357 -0.103219  0.410599
c  0.144044  1.454274  0.761038  0.121675  0.443863
d  0.333674  1.494079 -0.205158  0.313068 -0.854096
e -2.552990  0.653619  0.864436 -0.742165  2.269755
1.764052345967664
          v         w
a  1.764052  0.400157
b -0.977278  0.950088

**MISSING VALUES**

In [4]:
df=pd.DataFrame({'a':[1,np.nan,2],'b':[2,np.nan,np.nan],'c':[3,4,np.nan]})
df['st']='ca ba aa'.split()
df.set_index('st',inplace=True)
print(df)
print(df.fillna(value=df['a'].mean()))
df.dropna(axis=0)

      a    b    c
st
ca  1.0  2.0  3.0
ba  NaN  NaN  4.0
aa  2.0  NaN  NaN
      a    b    c
st
ca  1.0  2.0  3.0
ba  1.5  1.5  4.0
aa  2.0  1.5  1.5

      a    b    c
st
ca  1.0  2.0  3.0

**GROUP BY**

In [5]:
data={'company':['fb','tik','zodo','ola','tin'],
      'person':['sam','jam','nile','kile','jhon'],
      'sales':[2000,3000,4000,5000,6000]}
df=pd.DataFrame(data)
print(df)
group=df.groupby('company')
print(group.mean())
print(group.sum())
print(df.groupby('company').describe())

  company person  sales
0      fb    sam   2000
1     tik    jam   3000
2    zodo   nile   4000
3     ola   kile   5000
4     tin   jhon   6000
          sales
company
fb       2000.0
ola      5000.0
tik      3000.0
tin      6000.0
zodo     4000.0
         sales
company
fb        2000
ola       5000
tik       3000
tin       6000
zodo      4000
        sales
        count    mean std     min     25%     50%     75%     max
company
fb        1.0  2000.0 NaN  2000.0  2000.0  2000.0  2000.0  2000.0
ola       1.0  5000.0 NaN  5000.0  5000.0  5000.0  5000.0  5000.0
tik       1.0  3000.0 NaN  3000.0  3000.0  3000.0  3000.0  3000.0
tin       1.0  6000.0 NaN  6000.0  6000.0  6000.0  6000.0  6000.0
zodo      1.0  4000.0 NaN  4000.0  4000.0  4000.0  4000.0  4000.0

<ipython-input-5-5a51a7b89896>:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(group.mean())
<ipython-input-5-5a51a7b89896>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(group.sum())

**JOIN**

In [7]:
left=pd.DataFrame({'A':['a1','a2','a3'],
                   'B':['b1','b2','b3']},
                   index=['i1','i2','i3'])
right=pd.DataFrame({'C':['c1','c2','c3'],
                   'D':['d1','d2','d3']},
                   index=['i0','i2','i3'])
print(left )
print(right)
print(left.join(right))
print(left.join(right,how='outer'))
print(left.join(right,how='inner'))

     A   B
i1  a1  b1
i2  a2  b2
i3  a3  b3
     C   D
i0  c1  d1
i2  c2  d2
i3  c3  d3
     A   B    C    D
i1  a1  b1  NaN  NaN
i2  a2  b2   c2   d2
i3  a3  b3   c3   d3
      A    B    C    D
i0  NaN  NaN   c1   d1
i1   a1   b1  NaN  NaN
i2   a2   b2   c2   d2
i3   a3   b3   c3   d3
     A   B   C   D
i2  a2  b2  c2  d2
i3  a3  b3  c3  d3

**HEAD() AND UNIQUE VALUES**

In [20]:
df=pd.DataFrame({'col1':[1,2,3,4,5,6],
                 'col2':[111,222,333,444,555,666],
                 'col3':'aaa bbb ccc ddd ee ff'.split()})
df
print(df.head())
print(df.tail())
print(df['col1'].unique())
print(df['col1'].nunique())
print(df['col1'].value_counts())

   col1  col2 col3
0     1   111  aaa
1     2   222  bbb
2     3   333  ccc
3     4   444  ddd
4     5   555   ee
   col1  col2 col3
1     2   222  bbb
2     3   333  ccc
3     4   444  ddd
4     5   555   ee
5     6   666   ff
[1 2 3 4 5 6]
6
1    1
2    1
3    1
4    1
5    1
6    1
Name: col1, dtype: int64

**Apply function**

In [29]:
def testfunc(x):
  if(x>500):
    return(10*np.log10(x))
  else:
      return(x/10)

#Using def function
df['fun']=df['col2'].apply(testfunc)
print(df)
df['fun'].apply(lambda x:np.sqrt(x))

   col1  col2 col3        fun
0     1   111  aaa  11.100000
1     2   222  bbb  22.200000
2     3   333  ccc  33.300000
3     4   444  ddd  44.400000
4     5   555   ee  27.442930
5     6   666   ff  28.234742

0    3.331666
1    4.711688
2    5.770615
3    6.663332
4    5.238600
5    5.313637
Name: fun, dtype: float64